<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="campeones.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="campeones.css">
    <title>Campeones de League of Legends</title>
</head>

<body ng-app="campeones" ng-controller="controllerCampeones">
    <!-- Falta un header, y un footer -->
    <input class="form-control" type="text" placeholder="Buscar campeon" ng-model="busqueda" ng-change="filtrar()" ng-model-options='{ debounce: 50 }' />
    <div id="campeones">
        <div class="row" ng-repeat="fila in filas">
            <div class="campeon col-lg-1 col-md-1 col-xs-4" ng-repeat="campeon in fila">
                <img ng-src="{{ campeon.foto }}" id="fotocampeon" ng-click="abrirCampeon(campeon.nombre)">
                <p>{{ campeon.nombre }}</p>
            </div>
        </div>
        <div ng-if="filas[0].length == 0" id="sinresultados">
            <img src="img/SinResultados.png">
            <p><b>No se encontraron campeones</b></p>
            <button class="btn btn-sm btn-info" ng-click="limpiarBusqueda()">Limpiar busqueda</button>
        </div>
    </div>
</body>

</html>